<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.cx.mapper.ReportSellMapper">
    
    <!-- 若不需要自动返回主键，将useGeneratedKeys="true" keyProperty="id"去掉即可(当然如果不需要自动返回主键，直接用注解即可) -->
       
  
   <resultMap type="com.cx.entity.ReportSell" id="ReportId1" autoMapping="true">  
        <result property="msName" column="msName"/>  
        <result property="bxName" column="bxName"/>
        <result property="cxFee" column="cxFee"/> 
        <result property="yjFee" column="yjFee"/>   
    </resultMap> 
  
    <select id="findReportSell1" resultMap="ReportId1">  
       select ms as msName,bxgsmc as bxName,bdbf as cxFee ,sxf as yjFee from bdyw;
   </select>
    
</mapper>